        /* CORE STYLES */
        
         :root {
            --primary-color: rgba(103, 117, 121, 0.5);
            --overlay-color: rgba(23, 35, 46, 0.85);
            --second-color: rgb(195, 197, 199);
            --menu-speed: 0.75s;
        }
        
        body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            line-height: 1.4;
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .container {
            max-width: 960px;
            margin: auto;
            overflow: hidden;
            padding: 0 3rem;
        }
        
        .showcase {
            background: var(--primary-color);
            color: rgb(14, 13, 13);
            /*height: 350vh;*/
            position: relative;
        }
        
        .showcase:before {
            content: '';
            /*background: url(") no-repeat center center/cover;*/
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        /*.showcase .showcase-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 20%;
        }*/
        
        .showcase h1 {
            font-size: 4rem;
        }
        
        .showcase p {
            font-size: 1.3rem;
        }
        /*.btn {
            display: inline-block;
            border: none;
            background: var(--primary-color);
            color: #fff;
            padding: 0.75rem 1.5rem;
            margin-top: 1rem;
            transition: opacity 1s ease-in-out;
            text-decoration: none;
        }
        
        .btn:hover {
            opacity: 0.9;
        }*/
        /*****************************/
        /*navigation*/
        
        .menu-wrap {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
        }
        
        .menu-wrap .toggler {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            cursor: pointer;
            width: 50px;
            height: 50px;
            opacity: 0;
        }
        
        .menu-wrap .hamburger {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 60px;
            height: 60px;
            padding: 1rem;
            background: var(--primary-color);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .menu-wrap .hamburger>div {
            position: relative;
            flex: none;
            width: 100%;
            height: 2px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
        }
        
        .menu-wrap .hamburger>div::before,
        .menu-wrap .hamburger>div::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: -10px;
            width: 100%;
            height: 2px;
            background: inherit;
        }
        
        .menu-wrap .hamburger>div::after {
            top: 10px;
        }
        /* Rotate On Hover When Checked */
        
        .menu-wrap .toggler:checked:hover+.hamburger>div {
            transform: rotate(225deg);
        }
        /* Show Menu */
        
        .menu-wrap .toggler:checked~.menu {
            visibility: visible;
        }
        
        .menu-wrap .toggler:checked~.menu>div {
            transform: scale(1);
            transition-duration: var(--menu-speed);
        }
        
        .menu-wrap .toggler:checked~.menu>div>div {
            opacity: 1;
            transition: opacity 0.4s ease 0.4s;
        }
        
        .menu-wrap .menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .menu-wrap .menu>div {
            background: var(--overlay-color);
            border-radius: 50%;
            width: 200vw;
            height: 200vw;
            display: flex;
            flex: none;
            align-items: center;
            justify-content: center;
            transform: scale(0);
            transition: all 0.4s ease;
        }
        
        .menu-wrap .menu>div>div {
            text-align: center;
            max-width: 90vw;
            max-height: 100vh;
            opacity: 0;
            transition: opacity 0.4s ease;
        }
        
        .menu-wrap .menu>div>div>ul>li {
            list-style: none;
            color: #fff;
            font-size: 1.5rem;
            padding: 1rem;
        }
        
        .menu-wrap .menu>div>div>ul>li>a {
            color: inherit;
            text-decoration: none;
            transition: color 0.4s ease;
        }
        /*****************************/
        
        .initText p {
            margin: auto;
            font-size: 40px;
            width: 90%;
            align-content: center;
        }
        
        #mapZone {
            position: relative;
            width: 90%;
            margin: auto;
            height: 600px;
        }
        
        #map {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        
        .infos_station {
            display: none;
            /*width: 290px;*/
            /*margin: auto;*/
            background: var( --second-color);
            font-weight: bold;
            text-align: center;
            background-image: radial-gradient(ellipse at center, white, lightgrey);
        }
        
        .infos_station h2 {
            font-size: 20px;
            text-align: center;
            margin: 30px;
        }
        
        .marker {
            background-image: url("Images/téléchargement.png");
            background-size: cover;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
        }
        
        .mapboxgl-popup {
            max-width: 200px;
        }
        
        .mapboxgl-popup-content {
            text-align: left;
            font-family: 'Open Sans', sans-serif;
            width: 160px;
            border-radius: 6px;
            padding: 8px 0;
        }
        /* Slideshow container */
        
        .mySlides {
            display: none;
        }
        
        img {
            vertical-align: middle;
            width: 100%;
        }
        
        .slideshow-container {
            width: 80%;
            margin: auto;
        }
        
        .text {
            background-color: rgba(255, 255, 255, 0.664);
            color: black;
            /*position: absolute;*/
            bottom: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 1rem;
        }
        
        #boutonPlayPause .fas {
            font-size: 50px;
            padding: 0 18px;
        }
        
        .fas:hover {
            color: grey;
        }
        
        #boutonPlayPause {
            margin: 50px auto;
            width: 370px;
        }
        /*****************************/
        
        #myCanvas {
            border: 1px solid rgb(117, 117, 117);
            background-color: #fff;
        }
        
        #form_reserver {
            /* width: 60%;*/
            /* min-width: 200px;*/
            /* height: 300px;*/
            /* margin: auto;*/
            /*margin-top: 20px;*/
            background-color: lightgray;
            border: solid gray;
            /* max-width: 700px;*/
            display: none;
            margin-top: 50px;
        }
        
        .infos_ut {
            /*width: 50%;*/
            display: flex;
            flex-direction: column;
            /*padding-left: 15px;*/
        }
        
        .infos_ut input {
            border: 1px solid rgb(180, 180, 180);
            display: block;
            /* margin: 10px 15px;*/
            /*width: 280px;*/
            height: 40px;
            border-radius: 0px;
        }
        
        .infos_utilisateur {
            /*width: 100%;*/
            display: flex;
        }
        
        .infos_ut label {
            font-size: 18px;
        }
        
        .infos_utilisateur h2 {
            font-weight: bold;
            /*margin: 20px auto;*/
        }
        
        #bouton_annuler {
            display: none;
        }
        
        #timer {
            background-color: rgb(56, 145, 56);
            width: 60%;
            margin: auto;
            text-align: center;
        }
        
        #buttonform,
        #station_non_reservable {
            display: none;
            text-align: center;
            margin: 30px;
        }
        
        #formulaire {
            display: flex;
            margin-top: 50px;
        }
        
        .buttonformulaire {
            /* width: 50%;*/
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        input {
            display: inline-block;
            border: none;
            margin-top: 1rem;
            transition: opacity 1s ease-in-out;
            border-radius: 10px;
            text-decoration: none;
        }
        
        input:hover {
            opacity: 0.5;
        }
        
        #reserver {
            background: var(--primary-color);
            color: #fff;
            padding: 0.20rem 2rem;
        }
        
        #affacer {
            background-color: rgb(49, 47, 47);
            color: #fff;
            padding: 0.20rem 2rem;
        }
        
        #station_non_reservable {
            height: 30px;
            font: #fff;
        }
        
        footer {
            background: var(--overlay-color);
        }
        /********************************/
        
        @media (max-width: 544px) {
            .text .row .col-sm-12 {
                font-size: 3.5vw;
            }
            .slideshow-container {
                width: 100%;
                margin: auto;
            }
            .mapLuxembourg {
                margin-top: 100px;
            }
        }